header .logo {
  display: inline-block;
  margin-top: -20px;
}
header .nav-list .menu li {
  position: relative;
  display: inline-block;
}
header .nav-list .menu li a {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 59px;
  color: #13171a;
}
header .nav-list .menu li a.nav-background {
  color: #ffffff;
}
header .nav-list .menu li .last-link {
  margin: 0;
}
header .nav-list .menu li main-links:last-child {
  margin-right: 0;
}
header .nav-list .menu li:hover .dropdown {
  display: flex;
  justify-content: space-between;
}
header .nav-list .menu li .dropdown {
  display: none;
  position: absolute;
  top: 116%;
  left: 0;
  background: #ffffff;
  border-radius: 24px;
  z-index: 1;
  padding: 24px;
  gap: 24px;
  width: 364px;
}
header .nav-list .menu li .dropdown li {
  display: block;
  margin-bottom: 16px;
}
header .nav-list .menu li .dropdown li a {
  display: block;
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #46525a;
}
header .project-logo {
  margin-top: -19px;
}
header .project li a {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #13171a;
}
header .hamburger {
  display: none;
}

@media screen and (max-width: 480px) {
  header .nav-list .menu {
    display: none;
  }
  header .hamburger {
    display: block;
  }
}
main .title-dot {
  display: inline-block;
  margin-top: 6px;
  margin-right: 8px;
}
main .title-main {
  font-family: "HeadingNow-66Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #22292e;
}
main #oil-slider {
  height: 85vh;
}
main #oil-slider video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 880px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
main #oil-slider .slider-text-style {
  font-family: "HeadingNow-66Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 80px;
  text-transform: uppercase;
  color: #ffffff;
}
main #oil-slider .slider-text-substyle {
  font-family: "Suisse Intl-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  width: 720px;
  margin-top: 24px;
  margin-bottom: 20px;
}
main #oil-slider .swiper .swiper-pagination.pagination-list {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-end;
}
main #oil-slider .swiper .swiper-pagination.pagination-list .pagination-list-item {
  display: flex;
  justify-content: flex-end;
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: white;
  min-width: 48px;
  height: 48px;
  border: 1px solid white;
  opacity: 1;
  background-color: transparent;
  border-radius: 40px;
  align-items: center;
  padding: 8px 20px;
  width: -moz-fit-content;
  width: fit-content;
  transition: width 1s ease;
  overflow: hidden;
  cursor: pointer;
}
main #oil-slider .swiper .swiper-pagination.pagination-list .pagination-list-item.swiper-pagination-bullet-active {
  width: 100%;
}
main #oil-slider .swiper .swiper-pagination.pagination-list .pagination-list-item.swiper-pagination-bullet-active .pagination-list-item-title {
  font-family: "Suisse Intl-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: #ffffff;
  width: 100%;
  opacity: 1;
}
main #oil-slider .swiper .swiper-pagination.pagination-list .pagination-list-item .pagination-list-item-title {
  width: 0;
  opacity: 0;
  white-space: pre;
  transition: 1s ease;
}
main #oil-slider .swiper .swiper-pagination.pagination-list .pagination-list-item:not(.swiper-pagination-bullet-active) {
  justify-content: center;
  width: 48px;
}
main #oil-slider .swiper .swiper-pagination.pagination-list .pagination-list-item:not(.swiper-pagination-bullet-active):hover {
  background-color: white;
  color: black;
}
main .btn-brand {
  font-family: "Suisse Intl-Regular";
  background: #c59b48;
  border-radius: 100px;
  padding: 10px 20px;
  align-items: center;
  color: #ffffff;
}
main .about-more-icon {
  display: inline;
}
main #about-us {
  background: #f4f7fa;
}
main #about-us .main-about-us {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 68px;
  line-height: 72px;
}
main #about-us .main-about-us .changeable-text {
  color: #474646;
}
main #about-us .short-about-us p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #6d7a84;
}
main #company-activity {
  background: #f4f7fa;
}
main #company-activity .activity-main-title {
  margin-bottom: 60px;
}
main #company-activity .accordion .contentBx h4 {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #9ba5b5;
}
main #company-activity .accordion .contentBx .content-activity-subtitle {
  font-family: "Suisse Intl-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  color: #22292e;
  margin-top: 8px;
}
main #company-activity .accordion .contentBx .content {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
main #company-activity .accordion .contentBx.active .content {
  height: 215px;
}
main #company-activity .accordion .contentBx .accordion-item {
  background: #fbfbfb;
  border: 1px solid #eeeeee;
  border-radius: 24px;
}
main #company-activity .accordion .contentBx .accordion-item p {
  font-family: "Suisse Intl-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  color: #c59b48;
}
main #company-activity .accordion .contentBx .accordion-item .item-content p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #46525a;
}
main #cover-black-oil {
  background-image: url("../assets/image/Rectangle 9 (1).png");
  height: 600px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}
main #cover-black-oil .black-oil-info p {
  font-family: "Suisse Intl-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  width: 760px;
}
main #cover-black-oil .black-oil-title {
  font-family: "HeadingNow-66Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
main #statics .static-card {
  background: #ffffff;
  border-radius: 24px;
}
main #statics .static-card .card-logo {
  margin-bottom: 252px;
}
main #statics .static-card .card-info .info-title {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #46525a;
}
main #statics .static-card .card-info .oil-capacity {
  font-family: "Suisse Intl-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 68px;
  line-height: 72px;
  color: #c59b48;
}
main #statics .card-number {
  font-family: "Suisse Intl-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  text-align: right;
  color: #dfdee7;
}
main #projects .project-card-wrapper img {
  width: 738px;
}
main #projects .image-wrapper {
  position: relative;
}
main #projects .image-wrapper .img-date {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 100px;
  position: absolute;
  top: 24px;
  left: 24px;
  color: white;
  padding: 6px 5px;
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
main #customer-ideas #customer-slider {
  background-color: white;
  position: relative;
}
main #customer-ideas .swiper-slide {
  display: flex;
  justify-content: space-between;
}
main #customer-ideas .swiper-button-next::after,
main #customer-ideas .swiper-button-prev::after {
  content: "";
}
main #customer-ideas .swiper-button-next .arrow-icon {
  position: absolute;
  right: 1431px;
  top: 187px;
}
main #customer-ideas .swiper-button-prev .arrow-icon {
  position: absolute;
  bottom: -195px;
  left: 34px;
}
main #customer-ideas .swiper-wrapper {
  padding: 24px;
  height: 440px;
}
main #customer-ideas .customer-image {
  width: 48px;
  height: 48px;
}
main #customer-ideas .customer-info .customer-fullname {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #22292e;
}
main #customer-ideas .customer-info .customer-position {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #9ba5b5;
}
main #customer-ideas .customer-feedback {
  background: #f4f7fa;
  border-radius: 20px;
  width: 724px;
  height: 440px;
  margin-right: 50px;
  padding: 24px;
}
main #customer-ideas .customer-feedback-info {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #22292e;
}
main #partnors .wrapper {
  padding-top: 100px;
}

footer {
  background-color: #0e0e0e;
  position: relative;
}
footer .rectangle {
  background: rgba(255, 255, 255, 0.1);
}
footer .first-ellipse {
  height: 189.1463470459px;
  width: 376px;
  left: -105px;
  top: 0px;
  border-radius: 0px;
  background-color: #003152;
  filter: blur(200px);
  position: absolute;
  left: -7.29%;
  right: 81.18%;
  top: 0%;
  bottom: 80.97%;
}
footer .second-ellipse {
  height: 378.2926940918px;
  width: 376px;
  left: -109px;
  top: 465.822265625px;
  border-radius: 0px;
  background-color: #003152;
  filter: blur(200px);
  position: absolute;
  left: -7.57%;
  right: 81.46%;
  top: 46.86%;
  bottom: 15.08%;
}
footer .third-ellipse {
  height: 378.2926940918px;
  width: 312px;
  left: 1175px;
  top: 95.580078125px;
  border-radius: 0px;
  background-color: #003152;
  filter: blur(200px);
  position: absolute;
  left: 81.6%;
  right: -7.71%;
  top: 9.62%;
  bottom: 52.33%;
}
footer #header .footer-title {
  color: white;
}
footer #header .select-language {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
footer #header .header-title {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
footer #links .wrapper-footer-link {
  display: flex;
}
footer #links .link-title {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #9ba5b5;
  margin-bottom: 20px;
}
footer #links li {
  margin-bottom: 16px;
}
footer #links li a {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
}
footer #address-info .info-title {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9ba5b5;
  margin-bottom: 12px;
}
footer #address-info .info-value {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
footer #address-info .info-value-social {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 24px;
}
footer #address-info .rectangle {
  margin-top: 60px;
}
footer #author-info .author-privacy {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6d7a84;
}

#detail-head {
  height: 864px;
}
#detail-head .cover-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 768px;
}
#detail-head .cover-image img {
  width: -webkit-fill-available;
}
#detail-head .head-text {
  font-family: "HeadingNow-66Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  bottom: 0;
}

#general-info .info-title h2 {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #22292e;
}
#general-info .info-description p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}

#oil .oil-plant-image {
  position: relative;
}
#oil .oil-plant-image .img-loc,
#oil .oil-plant-image .img-date {
  position: absolute;
  top: 24px;
  left: 24px;
  color: white;
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 16px;
  gap: 8px;
  width: 116px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 100px;
}
#oil .oil-plant-image .img-date {
  left: 151px;
  width: 127px;
}
#oil .oil-plant-image img {
  width: -webkit-fill-available;
}
#oil .oil-plant-image .oil-plant-text {
  position: absolute;
  bottom: 32px;
  left: 32px;
}
#oil .oil-plant-image .oil-plant-text p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  /* Utility/100 */
  color: #ffffff;
}

#oil-consumer .info-title h2 {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #22292e;
}
#oil-consumer .info-description p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}

#oil-consumer-info .consumer-title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  color: #13171a;
}
#oil-consumer-info .consumer-image-wrapper .large-image img {
  width: -webkit-fill-available;
}
#oil-consumer-info .consumer-image-wrapper .oil-plant-image {
  position: relative;
}
#oil-consumer-info .consumer-image-wrapper .oil-plant-image .img-loc,
#oil-consumer-info .consumer-image-wrapper .oil-plant-image .img-date {
  position: absolute;
  top: 24px;
  left: 24px;
  color: white;
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 16px;
  gap: 8px;
  width: 116px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 100px;
}
#oil-consumer-info .consumer-image-wrapper .oil-plant-image .img-date {
  left: 151px;
  width: 127px;
}
#oil-consumer-info .consumer-image-wrapper .oil-plant-image img {
  width: -webkit-fill-available;
}
#oil-consumer-info .consumer-image-wrapper .oil-plant-image .oil-plant-text {
  position: absolute;
  bottom: 32px;
  left: 32px;
}
#oil-consumer-info .consumer-image-wrapper .oil-plant-image .oil-plant-text p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

#energy .info-title h2 {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #22292e;
}
#energy .info-description p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}

#connect-projects img {
  width: -webkit-fill-available;
}
#connect-projects .image-wrapper {
  position: relative;
}
#connect-projects .image-wrapper .img-date {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 100px;
  position: absolute;
  top: 24px;
  left: 24px;
  color: white;
  padding: 6px 5px;
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
#connect-projects .card-info .card-title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #13171a;
}

#managers .president-company {
  background-color: #ffffff;
}
#managers .president-name {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #13171a;
}
#managers .position {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #6d7a84;
}
#managers .detail-description {
  margin-bottom: 60px;
}
#managers .detail-description p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #9ba5b5;
}
#managers .more-btn {
  width: 152px;
  height: 44px;
  border: 1px solid #c59b48;
  border-radius: 100px;
  padding: 10px 20px;
}
#managers .more-btn button {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #c59b48;
}
#managers .employee-fullname {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #13171a;
}
#managers .employee-position {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6d7a84;
}
#managers .employee-card {
  background: #ffffff;
  border-radius: 20px;
}
#managers .president-detail-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  max-height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#managers .president-detail-modal .modal-content {
  background-color: #fff;
  margin-left: 20%;
  padding: 140px 60px;
  height: 100vh;
}
#managers .president-detail-modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 60px;
}
#managers .president-detail-modal .modal-content .close:hover,
#managers .president-detail-modal .modal-content .close close {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#managers .president-detail-modal .modal-content .president-social span {
  margin-right: 12px;
}
#managers .president-detail-modal .president-more-detail .title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #13171a;
}
#managers .president-detail-modal .president-more-detail .sub-title {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #c59b48;
}
#managers .president-detail-modal .president-description p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}

#contact-header .contact-number,
#contact-header .contact-email {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #22292e;
}
#contact-header .support-text {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #6d7a84;
}

.contact-us-title .project-main-title {
  width: 524px;
  position: relative;
}
.contact-us-title .project-main-title::after {
  content: url("../assets/SVG/Underline.svg");
  position: absolute;
  width: 219.07px;
  height: 14px;
  right: 0px;
  top: calc(50% - 7px - 0.03px);
}

#contact-form {
  margin-top: 60px;
}
#contact-form .find-us {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #9ba5b5;
}
#contact-form .find-location {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #46525a;
}
#contact-form .form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
#contact-form .form-group {
  position: relative;
}
#contact-form .checkbox-style {
  border: 2px solid #46525a;
  border-radius: 3px;
  width: 18px;
  height: 18px;
}
#contact-form .private-rules .privacy {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #46525a;
}
#contact-form .private-rules .privacy .privacy-underline {
  text-decoration: underline;
}
#contact-form input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #46525a;
  outline: none;
  background-color: #eee;
}
#contact-form input:focus {
  border-bottom: 2px solid #4caf50;
}
#contact-form input:focus label {
  color: red;
  top: -20px;
  font-size: 12px;
  color: #4caf50;
  display: none;
}
#contact-form label {
  position: absolute;
  top: -12px;
  left: 0;
  font-weight: bold;
  transition: all 0.3s ease;
  pointer-events: none;
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #46525a;
}
#contact-form .btn-brand {
  font-family: "Suisse Intl-Regular";
  background: #c59b48;
  border-radius: 100px;
  padding: 10px 20px;
  align-items: center;
  color: #ffffff;
  width: 152px;
}

#sidebar li {
  margin-bottom: 12px;
}
#sidebar li a {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #46525a;
}
#sidebar li .active {
  color: #c59b48;
}
#sidebar .have-question .question-title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c59b48;
}
#sidebar .have-question .often-question {
  font-family: "Suisse Intl-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 68px;
  line-height: 72px;
  color: #13171a;
}

#accordion-question .title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #13171a;
  margin-bottom: 20px;
}
#accordion-question .accordion .contentBx h4 {
  font-family: "Suisse Intl-Mediumn";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #46525a;
}
#accordion-question .accordion .contentBx .content-description {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}
#accordion-question .accordion .contentBx .content {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
#accordion-question .accordion .contentBx.active .content {
  height: 110px;
}
#accordion-question .accordion .contentBx .label h4 {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #46525a;
}
#accordion-question .accordion .contentBx .accordion-item {
  background: #fbfbfb;
  border: 1px solid #eeeeee;
  border-radius: 24px;
}
#accordion-question .accordion .contentBx .accordion-item p {
  font-family: "Suisse Intl-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 52px;
  color: #c59b48;
}
#accordion-question .accordion .contentBx .accordion-item .item-content p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #46525a;
}
#accordion-question .legacy-links li {
  margin-bottom: 12px;
}
#accordion-question .legacy-links li a {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #46525a;
}
#accordion-question .legacy-links li .active {
  color: #c59b48;
}
#accordion-question .legacy-detail-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  max-height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
#accordion-question .legacy-detail-modal .modal-content {
  background-color: #fff;
  margin-left: 20%;
  padding: 140px 60px;
  height: 100vh;
}
#accordion-question .legacy-detail-modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 60px;
}
#accordion-question .legacy-detail-modal .modal-content .close:hover,
#accordion-question .legacy-detail-modal .modal-content .close close {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#accordion-question .legacy-detail-modal .modal-content .president-social span {
  margin-right: 12px;
}
#accordion-question .legacy-detail-modal .legacy-more-detail .title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #13171a;
}
#accordion-question .legacy-detail-modal .legacy-more-detail .sub-title {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #46525a;
}
#accordion-question .legacy-detail-modal .president-description p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}
#accordion-question .legacy-detail-modal .modal-title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #22292e;
}
#accordion-question .legacy-detail-modal .modal-description {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}

#gallery-title {
  padding-top: 114px;
}
#gallery-title .project-main-title {
  font-family: "HeadingNow-66Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-transform: uppercase;
  color: #22292e;
  position: relative;
}
#gallery-title .project-main-title:after {
  content: url("../assets/SVG/ShortUnderline.svg");
  position: absolute;
  width: 219.07px;
  height: 14px;
  left: 0;
  top: calc(50% - 7px - 0.03px);
}
#gallery-title .page-name {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #13171a;
}
#gallery-title .current-page {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9ba5b5;
}
#gallery-title .slash {
  margin-left: 12px;
  margin-right: 12px;
}
#gallery-title .project-short-info {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #46525a;
}

#gallery-info .info-date {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9ba5b5;
}
#gallery-info .head-info {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #22292e;
}

.foto-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 80vh;
  overflow: auto;
  background-color: white;
  padding: 60px;
}
.foto-modal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 60px;
}
.foto-modal .close:hover,
.foto-modal .close close {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#foto-gallery .card-item {
  overflow: hidden;
  position: relative;
}
#foto-gallery .card-item:hover img {
  transform: scale(1.2);
}
#foto-gallery .card-item:hover .zoom-icon {
  opacity: 1;
}
#foto-gallery .card-item img {
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s;
}
#foto-gallery .card-item .zoom-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}

#video-gallery video {
  position: unset;
  height: -moz-fit-content;
  height: fit-content;
}
#video-gallery .card-item {
  position: relative;
}
#video-gallery .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s;
}
#video-gallery .card-item:hover .play-icon {
  opacity: 1;
}

#news-title {
  padding-top: 114px;
}
#news-title .project-main-title {
  font-family: "HeadingNow-66Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-transform: uppercase;
  color: #22292e;
}
#news-title .page-name {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #13171a;
}
#news-title .current-page {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9ba5b5;
}
#news-title .slash {
  margin-left: 12px;
  margin-right: 12px;
}
#news-title .project-short-info {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #46525a;
}

#news-content {
  padding-top: 100px;
}
#news-content .card-date p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9ba5b5;
}
#news-content .card-description h5 {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #13171a;
}
#news-content .card-description p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #46525a;
}
#news-content .pagination-number,
#news-content .pagination-dots {
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  background: #ffffff;
  border-radius: 100px;
  margin-left: 8px;
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #6d7a84;
}
#news-content .pagination-number.active,
#news-content .pagination-dots.active {
  background-color: #eee1c8;
  color: #c59b48;
}
#news-content .news-detail-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.5);
}
#news-content .news-detail-modal .modal-content {
  background-color: #fff;
  margin-left: 20%;
  padding: 140px 60px;
}
#news-content .news-detail-modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 60px;
}
#news-content .news-detail-modal .modal-content .close:hover,
#news-content .news-detail-modal .modal-content .close close {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#news-content .news-detail-modal .modal-content .president-social span {
  margin-right: 12px;
}
#news-content .news-detail-modal .president-more-detail .title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #13171a;
}
#news-content .news-detail-modal .president-more-detail .sub-title {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #46525a;
}
#news-content .news-detail-modal .president-description p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}
#news-content .news-detail-modal .news-title h2 {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9ba5b5;
}
#news-content .news-detail-modal .news-title p {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #22292e;
}
#news-content .news-detail-modal .news-description p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #46525a;
}
#news-content .news-detail-modal .news-social-adress span {
  margin-right: 20px;
}
#news-content .news-detail-modal .news-image {
  margin-top: 60px;
}
#news-content .news-detail-modal .oil-images .image-wrapper {
  position: relative;
}
#news-content .news-detail-modal .oil-images .location {
  position: absolute;
  top: 32px;
  left: 32px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 100px;
  padding: 10px 16px;
}
#news-content .news-detail-modal .oil-images .location .location-name {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
#news-content .news-detail-modal .oil-images .date {
  position: absolute;
  top: 32px;
  left: 162px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 100px;
  padding: 10px 16px;
}
#news-content .news-detail-modal .oil-images .date-time {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
#news-content .news-detail-modal .export-procedure h5 {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #46525a;
}
#news-content .news-detail-modal .export-list {
  list-style: disc;
}
#news-content .news-detail-modal .export-list li {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}
#news-content .news-detail-modal .notes {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}
#news-content .news-detail-modal .notes .email-addres {
  color: #218aeb;
}
#news-content .news-detail-modal .footer-image .wrapper-image {
  position: relative;
}
#news-content .news-detail-modal .footer-image .wrapper-image .location {
  position: absolute;
  top: 27px;
  left: 25px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 100px;
  padding: 10px 16px;
}
#news-content .news-detail-modal .footer-image .wrapper-image .location .location-name {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
#news-content .news-detail-modal .footer-image .wrapper-image .date {
  position: absolute;
  top: 27px;
  left: 169px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 100px;
  padding: 10px 16px;
}
#news-content .news-detail-modal .footer-image .wrapper-image .date-time {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
#news-content .news-detail-modal .footer-image .wrapper-image .image-text {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

#who-we-header {
  padding-top: 114px;
}
#who-we-header .who-we-title {
  font-family: "HeadingNow-66Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-transform: uppercase;
  position: relative;
  width: 374px;
}
#who-we-header .who-we-title::after {
  content: url("../assets/SVG/Underline.svg");
  position: absolute;
  width: 219.07px;
  height: 14px;
  right: 0px;
  top: calc(50% - 7px - 0.03px);
}
#who-we-header .title-description {
  width: 872px;
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #46525a;
}
#who-we-header .image-wrapper {
  margin-top: 44px;
}

#who-us h3 {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c59b48;
}
#who-us .description {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}

#values .values-title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c59b48;
}
#values .wrapper {
  padding: 40px;
}
#values .values-header {
  padding-bottom: 40px;
}
#values .head-info {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}
#values .parallax-container {
  height: 100vh;
  overflow: hidden;
  position: sticky;
}
#values .parallax-container:nth-child(1) {
  top: 0;
}
#values .parallax-container:nth-child(2) {
  top: 15vh;
}
#values .parallax-container:nth-child(3) {
  top: 20vh;
}
#values .parallax-container:nth-child(4) {
  top: 25vh;
}
#values .parallax-section {
  height: 100%;
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  transition: transform 0.3s ease-in-out;
  border-top: 1px solid #eeedf2;
}
#values .label-title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #cdd4e0;
}
#values .description-title {
  font-family: "HeadingNow-66Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #22292e;
}
#values .description-text {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}
#values .description-number {
  font-family: "HeadingNow-56Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 320px;
  line-height: 320px;
  text-align: right;
  letter-spacing: 0.02em;
  color: #c59b48;
}
#values .description-wrapper {
  margin-top: 60px;
}
#values .current-section {
  z-index: 2;
}
#values .spacer {
  height: 50vh;
}

#key-principles h3 {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c59b48;
}
#key-principles .head-principles h5 {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #798298;
}
#key-principles .head-principles p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-top: 68px;
}
#key-principles .section-item h5 {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #222222;
}
#key-principles .section-item p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #798298;
}
#key-principles .section-item .section-number {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 68px;
  line-height: 72px;
  color: #c59b48;
}

#history-slider .swiper-wrapper {
  padding: 40px;
}
#history-slider .swiper-button-next::after,
#history-slider .swiper-button-prev::after {
  content: "";
}
#history-slider .swiper-button-next {
  position: absolute;
  top: 40px;
  right: 40px;
}
#history-slider .swiper-button-prev {
  position: absolute;
  top: 40px;
  width: 100%;
  left: 678px;
}
#history-slider .history-title {
  margin-bottom: 138px;
}
#history-slider .history-title p {
  font-family: "HeadingNow-65Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: #22292e;
}
#history-slider .year-description {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
  width: 534px;
}
#history-slider .date-title {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: #46525a;
}

#career-header {
  padding-top: 114px;
}
#career-header .project-main-title {
  font-family: "HeadingNow-66Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-transform: uppercase;
  color: #22292e;
}
#career-header .page-name {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #13171a;
}
#career-header .current-page {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9ba5b5;
}
#career-header .slash {
  margin-left: 12px;
  margin-right: 12px;
}
#career-header .project-short-info {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #46525a;
}

#career-info {
  padding-top: 60px;
  padding-bottom: 80px;
}
#career-info .main-about-us {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 68px;
  line-height: 72px;
}
#career-info .main-about-us .changeable-text {
  color: #474646;
}

#career-applies button {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6d7a84;
  padding: 10px 20px;
  background: #ffffff;
  border-radius: 100px;
  margin-right: 12px;
}
#career-applies .career-tab-active {
  background: #c59b48;
  color: white;
}
#career-applies .tech-title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #22292e;
}
#career-applies .tech-subtitle {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}
#career-applies .tech-employee {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #22292e;
}
#career-applies .tech-position {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #6d7a84;
}
#career-applies .tech-date {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9ba5b5;
}
#career-applies .tech-apply-btn button {
  border: 1px solid #c59b48;
  border-radius: 100px;
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #c59b48;
  display: flex;
  align-items: center;
}
#career-applies .tech-support {
  padding-top: 60px;
}

#benefit-links .navigate-to-link .link-card {
  border-radius: 20px;
  justify-content: space-between;
}
#benefit-links .navigate-to-link .link-title {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #13171a;
}
#benefit-links .navigate-to-link .url {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6d7a84;
}

#main-social-projects {
  padding-top: 114px;
}
#main-social-projects .project-main-title {
  font-family: "HeadingNow-66Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-transform: uppercase;
  position: relative;
}
#main-social-projects .project-main-title::after {
  content: url("../assets/SVG/Underline.svg");
  position: absolute;
  width: 219.07px;
  top: calc(50% - 7px - 0.03px);
  left: 0;
}
#main-social-projects .page-name {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #13171a;
}
#main-social-projects .current-page {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9ba5b5;
}
#main-social-projects .slash {
  margin-left: 12px;
  margin-right: 12px;
}
#main-social-projects .project-short-info {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #46525a;
}

#social-project-content {
  padding-top: 80px;
}
#social-project-content .card-date p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9ba5b5;
}
#social-project-content .card-description h5 {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #13171a;
}
#social-project-content .card-description p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #46525a;
}
#social-project-content .pagination-number,
#social-project-content .pagination-dots {
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  background: #ffffff;
  border-radius: 100px;
  margin-left: 8px;
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #6d7a84;
}
#social-project-content .pagination-number.active,
#social-project-content .pagination-dots.active {
  background-color: #eee1c8;
  color: #c59b48;
}
#social-project-content .news-detail-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.5);
}
#social-project-content .news-detail-modal .social-project-title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #22292e;
}
#social-project-content .news-detail-modal .modal-content {
  background-color: #fff;
  margin-left: 20%;
  padding: 140px 60px;
}
#social-project-content .news-detail-modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 60px;
}
#social-project-content .news-detail-modal .modal-content .close:hover,
#social-project-content .news-detail-modal .modal-content .close close {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#social-project-content .news-detail-modal .modal-content .president-social span {
  margin-right: 12px;
}
#social-project-content .news-detail-modal .modal-content .image-subtitle {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #22292e;
}
#social-project-content .news-detail-modal .modal-content .image-subtitle + p {
  font-family: "Suisse Intl";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  /* Utility/400 */
  color: #6d7a84;
}
#social-project-content .news-detail-modal .president-more-detail .title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #13171a;
}
#social-project-content .news-detail-modal .president-more-detail .sub-title {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #46525a;
}
#social-project-content .news-detail-modal .president-description p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}
#social-project-content .news-detail-modal .news-title h2 {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9ba5b5;
}
#social-project-content .news-detail-modal .news-title p {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #22292e;
}
#social-project-content .news-detail-modal .news-description p {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #46525a;
}
#social-project-content .news-detail-modal .news-social-adress span {
  margin-right: 20px;
}
#social-project-content .news-detail-modal .news-image {
  margin-top: 60px;
}
#social-project-content .news-detail-modal .oil-images .image-wrapper {
  position: relative;
}
#social-project-content .news-detail-modal .oil-images .location {
  position: absolute;
  top: 32px;
  left: 32px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 100px;
  padding: 10px 16px;
}
#social-project-content .news-detail-modal .oil-images .location .location-name {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
#social-project-content .news-detail-modal .oil-images .date {
  position: absolute;
  top: 32px;
  left: 162px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 100px;
  padding: 10px 16px;
}
#social-project-content .news-detail-modal .oil-images .date-time {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
#social-project-content .news-detail-modal .export-procedure h5 {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #46525a;
}
#social-project-content .news-detail-modal .export-list {
  list-style: disc;
}
#social-project-content .news-detail-modal .export-list li {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}
#social-project-content .news-detail-modal .notes {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}
#social-project-content .news-detail-modal .notes .email-addres {
  color: #218aeb;
}
#social-project-content .news-detail-modal .footer-image .wrapper-image {
  position: relative;
}
#social-project-content .news-detail-modal .footer-image .wrapper-image .location {
  position: absolute;
  top: 27px;
  left: 25px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 100px;
  padding: 10px 16px;
}
#social-project-content .news-detail-modal .footer-image .wrapper-image .location .location-name {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
#social-project-content .news-detail-modal .footer-image .wrapper-image .date {
  position: absolute;
  top: 27px;
  left: 169px;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 100px;
  padding: 10px 16px;
}
#social-project-content .news-detail-modal .footer-image .wrapper-image .date-time {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
#social-project-content .news-detail-modal .footer-image .wrapper-image .image-text {
  position: absolute;
  bottom: 32px;
  left: 32px;
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.modal-block {
  display: block;
}

@media screen and (max-width: 567px) {
  footer #links .link-title {
    font-size: 16px;
    line-height: 24px;
  }
  footer #links li a {
    font-size: 24px;
    line-height: 36px;
  }
  footer #links .wrapper-footer-link {
    display: block;
  }
  footer #header .header-title {
    display: block;
  }
  footer #address-info .info-title {
    margin-bottom: 8px;
  }
  footer .first-ellipse {
    top: 39px;
    left: 107px;
    right: -34.17%;
    bottom: 87.56%;
    display: none;
  }
  footer .second-ellipse {
    top: 439px;
    left: -172px;
    right: 43.33%;
    bottom: 55.44%;
    display: none;
  }
  footer .third-ellipse {
    top: 1461px;
    left: 154px;
    right: -47.22%;
    bottom: -0.29%;
    display: none;
  }
}
#main-projects {
  padding-top: 114px;
}
#main-projects .project-main-title {
  font-family: "HeadingNow-66Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-transform: uppercase;
  color: #22292e;
}
#main-projects .page-name {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #13171a;
}
#main-projects .current-page {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9ba5b5;
}
#main-projects .slash {
  margin-left: 12px;
  margin-right: 12px;
}
#main-projects .project-short-info {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #46525a;
}
#main-projects .tab {
  overflow: hidden;
}
#main-projects .tab button {
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  background: #ffffff;
  border-radius: 100px;
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 20px;
  color: #6d7a84;
}
#main-projects .tab button:hover {
  background: #c59b48;
  color: #ffffff;
}
#main-projects .tab button.active {
  background-color: #c59b48;
  color: #ffffff;
}
#main-projects .project-card img {
  width: 738px;
}
#main-projects .project-card .card-info-title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #13171a;
}
#main-projects .project-card .card-info-subtitle {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9ba5b5;
}
#main-projects .image-wrapper {
  position: relative;
}
#main-projects .image-wrapper .img-date {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 100px;
  position: absolute;
  top: 24px;
  left: 24px;
  color: white;
  padding: 6px 5px;
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
}
#main-projects .tabcontent {
  display: none;
}
#main-projects .pagination-number,
#main-projects .pagination-dots {
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  background: #ffffff;
  border-radius: 100px;
  margin-left: 8px;
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #6d7a84;
}
#main-projects .pagination-number.active,
#main-projects .pagination-dots.active {
  background-color: #eee1c8;
  color: #c59b48;
}

@media screen and (max-width: 480px) {
  #main-projects .project-main-title {
    font-size: 40px;
    line-height: 40px;
    color: #13171a;
  }
  #main-projects .project-card .card-info-title {
    font-size: 24px;
    line-height: 36px;
  }
  #main-projects .project-card .card-info-subtitle-style {
    font-size: 14px;
    line-height: 20px;
  }
  #main-projects .image-wrapper .img-date {
    top: 12px;
    left: 12px;
  }
  .projects-short-info {
    text-align: unset;
  }
}
body {
  background: #eee;
  margin: 0;
  padding: 0;
}
body img {
  width: 100%;
}
body .title-head-style {
  font-family: "HeadingNow-66Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-transform: upperca;
  color: #22292e;
}
body .title-large-info {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6d7a84;
}
body .title-info-dot {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #c59b48;
}
body .card-style {
  background: #ffffff;
  border-radius: 24px;
}
body .img-fluid {
  max-width: 100%;
  height: auto;
}
body .card-info-title-style {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #13171a;
}
body .card-info-subtitle-style {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9ba5b5;
}
body .card-button {
  border: 1px solid #c59b48;
  border-radius: 100px;
  color: #c59b48;
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 20px;
}
body .swiper {
  width: 100%;
  max-height: 700px;
}
body .swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  background-color: transparent;
}
body .swiper-wrapper {
  padding-top: 220px;
}
body .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .swiper-pagination-bullet {
  width: 48px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1000px;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
}
body .swiper-pagination-text {
  margin: 0 5px;
  font-size: 14px;
  color: #000;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
body .swiper-pagination-text.active {
  opacity: 1;
}
body .full-image {
  width: -webkit-fill-available;
}/*# sourceMappingURL=style.css.map */