header {
  &.main-header {
    background-color: #0000007a;
  }
  .logo {
    margin-top: -8px;
  }
  .nav-list {
    &.main-page {
      .menu {
        .nav-link {
          cursor: pointer;
          .main-links {
            color: #13171a;
            &.media-m {
              margin-right: 59px;
            }
          }
        }
      }
    }
    &.main-color {
      .menu {
        .nav-link {
          .main-links {
            color: #fff;
          }
        }
      }
    }
    .menu {
      .nav-link {
        position: relative;
        display: inline-block;
        padding-bottom: 20px;
        .main-links {
          font-family: "Suisse Intl-Regular";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          margin-right: 60px;
          color: #13171a;
          display: block;
        }
        .dropdown {
          position: absolute;
          padding: 24px;
          left: 0;
          display: none;
          list-style-type: none;
          width: 364px;
          background-color: #fff;
          top: 40px;
          z-index: 1000;
          border-radius: 24px;
          li {
            display: block;
            margin-bottom: 16px;
            a {
              display: block;
              font-family: "Suisse Intl-Medium";
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 20px;
              color: #46525a;
              position: relative;
              padding-left: 20px;
              transition: linear 0.3s;
              &::after {
                content: url("../assets/SVG/Right-Pagination.svg");
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-40%);
                transition: linear 0.3s;
                opacity: 0;
                color: #c59b48;
              }
              &:hover {
                padding-left: 30px;
                color: #c59b48;
                opacity: 0.75;
                &::after {
                  opacity: 1;
                  left: 4px;
                  color: #c59b48;
                }
              }
            }
          }
        }
        .media-drop + .dropdown {
          left: -300%;
        }

        &:hover {
          .main-links {
            opacity: 0.75;
          }
          .dropdown {
            display: block;
          }
        }
      }
    }
  }
  .project-logo {
    margin-top: -19px;
  }
  .project {
    li {
      a {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #13171a;
      }
    }
  }
  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  header {
    .nav-list {
      .menu {
        display: none;
      }
    }
  }
}
