#main-projects {
  padding-top: 114px;
}
#main-projects .project-main-title {
  font-family: "HeadingNow-66Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  text-transform: uppercase;
  color: #22292e;
}
#main-projects .page-name {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #13171a;
}
#main-projects .current-page {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9ba5b5;
}
#main-projects .slash {
  margin-left: 12px;
  margin-right: 12px;
}
#main-projects .project-short-info {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #46525a;
}
#main-projects .tab {
  overflow: hidden;
}
#main-projects .tab button {
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  background: #ffffff;
  border-radius: 100px;
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 20px;
  color: #6d7a84;
}
#main-projects .tab button:hover {
  background: #c59b48;
  color: #ffffff;
}
#main-projects .tab button.active {
  background-color: #c59b48;
  color: #ffffff;
}
#main-projects .project-card img {
  width: 738px;
}
#main-projects .project-card .card-info-title {
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #13171a;
}
#main-projects .project-card .card-info-subtitle {
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #9ba5b5;
}
#main-projects .image-wrapper {
  position: relative;
}
#main-projects .image-wrapper .img-date {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 100px;
  position: absolute;
  top: 24px;
  left: 24px;
  color: white;
  padding: 6px 5px;
  font-family: "Suisse Intl-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 6px 16px;
}
#main-projects .tabcontent {
  display: none;
}
#main-projects .pagination-number,
#main-projects .pagination-dots {
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  background: #ffffff;
  border-radius: 100px;
  margin-left: 8px;
  font-family: "Suisse Intl-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #6d7a84;
}
#main-projects .pagination-number.active,
#main-projects .pagination-dots.active {
  background-color: #eee1c8;
  color: #c59b48;
}

@media screen and (max-width: 480px) {
  #main-projects .project-main-title {
    font-size: 40px;
    line-height: 40px;
    color: #13171a;
  }
  #main-projects .project-card .card-info-title {
    font-size: 24px;
    line-height: 36px;
  }
  #main-projects .project-card .card-info-subtitle-style {
    font-size: 14px;
    line-height: 20px;
  }
  #main-projects .image-wrapper .img-date {
    top: 12px;
    left: 12px;
  }
  .projects-short-info {
    text-align: unset;
  }
}/*# sourceMappingURL=index.css.map */