main {
  .title-dot {
    display: inline-block;
    margin-top: 6px;
    margin-right: 8px;
  }
  .title-main {
    font-family: "HeadingNow-66Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    color: #22292e;
  }
  #oil-slider {
    height: 85vh;

    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 880px;
      object-fit: cover;
      z-index: -1;
    }
    .slider-text-style {
      font-family: "HeadingNow-66Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 80px;
      line-height: 80px;
      text-transform: uppercase;
      color: #ffffff;
    }
    .slider-text-substyle {
      font-family: "Suisse Intl-Light";
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 32px;
      color: #ffffff;
      width: 720px;
      margin-top: 24px;
      margin-bottom: 20px;
    }

    .swiper {
      .swiper-pagination {
        &.pagination-list {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          align-items: flex-end;

          .pagination-list-item {
            display: flex;
            justify-content: flex-end;
            font-family: "Suisse Intl";
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 32px;
            color: white;
            min-width: 48px;
            height: 48px;
            border: 1px solid white;
            opacity: 1;
            background-color: transparent;
            border-radius: 40px;
            align-items: center;
            padding: 8px 20px;
            width: fit-content;
            transition: width 1s ease;
            overflow: hidden;
            cursor: pointer;

            &.swiper-pagination-bullet-active {
              width: 100%;

              .pagination-list-item-title {
                font-family: "Suisse Intl-Light";
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 32px;
                color: #ffffff;
                width: 100%;
                opacity: 1;
              }
            }

            .pagination-list-item-title {
              width: 0;
              opacity: 0;
              white-space: pre;
              transition: 1s ease;
            }

            &:not(.swiper-pagination-bullet-active) {
              justify-content: center;
              width: 48px;

              &:hover {
                background-color: white;
                color: black;
              }
            }
          }
        }
      }
    }
  }
  .btn-brand {
    font-family: "Suisse Intl-Regular";
    background: #c59b48;
    border-radius: 100px;
    padding: 10px 20px;
    align-items: center;
    color: #ffffff;
  }
  .about-more-icon {
    display: inline;
  }
  #about-us {
    background: #f4f7fa;
    .main-about-us {
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 68px;
      line-height: 72px;
      .changeable-text {
        color: #474646;
      }
    }
    .short-about-us {
      p {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #6d7a84;
      }
    }
  }
  #company-activity {
    background: #f4f7fa;
    .activity-main-title {
      margin-bottom: 60px;
    }
    .accordion {
      .contentBx {
        h4 {
          font-family: "Suisse Intl-Regular";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 36px;
          color: #9ba5b5;
        }
        .content-activity-subtitle {
          font-family: "Suisse Intl-SemiBold";
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
          line-height: 52px;
          color: #22292e;
          margin-top: 8px;
        }
        .content {
          height: 0;
          overflow: hidden;
          transition: 0.5s;
          overflow-y: auto;
        }
        &.active {
          .content {
            height: 215px;
          }
        }
        .accordion-item {
          background: #fbfbfb;
          border: 1px solid #eeeeee;
          border-radius: 24px;
          p {
            font-family: "Suisse Intl-SemiBold";
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 52px;
            color: #c59b48;
          }
          .item-content {
            p {
              font-family: "Suisse Intl-Regular";
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 28px;
              color: #46525a;
            }
          }
        }
      }
    }
  }
  #cover-black-oil {
    background-image: url("../assets/image/Rectangle\ 9\ \(1\).png");
    height: 600px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    .black-oil-info {
      p {
        font-family: "Suisse Intl-Light";
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 32px;
        text-align: center;
        color: #ffffff;
        width: 760px;
      }
    }
    .black-oil-title {
      font-family: "HeadingNow-66Bold";
      font-style: normal;
      font-weight: 700;
      font-size: 72px;
      line-height: 80px;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
  #statics {
    .static-card {
      background: #ffffff;
      border-radius: 24px;
      .card-logo {
        margin-bottom: 252px;
      }
      .card-info {
        .info-title {
          font-family: "Suisse Intl-Regular";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 28px;
          color: #46525a;
        }
        .oil-capacity {
          font-family: "Suisse Intl-Light";
          font-style: normal;
          font-weight: 300;
          font-size: 68px;
          line-height: 72px;
          color: #c59b48;
        }
      }
    }
    .card-number {
      font-family: "Suisse Intl-Light";
      font-style: normal;
      font-weight: 300;
      font-size: 20px;
      line-height: 32px;
      text-align: right;
      color: #dfdee7;
    }
  }
  #projects {
    // .project-card-wrapper {
    //   // img {
    //   //   width: 738px;
    //   // }
    // }
    .image-wrapper {
      position: relative;
      .img-date {
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6px);
        border-radius: 100px;
        top: 24px;
        left: 24px;
        color: white;
        padding: 6px 16px;
        font-family: "Suisse Intl-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  #customer-ideas {
    #customer-slider {
      background-color: white;
      position: relative;
    }
    .swiper-slide {
      display: flex;
      justify-content: space-between;
    }
    .swiper-button-next,
    .swiper-button-prev {
      &::after {
        content: "";
      }
    }
    .swiper-button-next {
      .arrow-icon {
        position: absolute;
        right: 1431px;
        top: 187px;
      }
    }
    .swiper-button-prev {
      .arrow-icon {
        position: absolute;
        bottom: -195px;
        left: 34px;
      }
    }
    .swiper-wrapper {
      padding: 24px;
      height: 440px;
    }
    .customer-image {
      width: 48px;
      height: 48px;
    }
    .customer-info {
      .customer-fullname {
        font-family: "Suisse Intl-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #22292e;
      }
      .customer-position {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #9ba5b5;
      }
    }
    .customer-feedback {
      background: #f4f7fa;
      border-radius: 20px;
      width: 724px;
      height: 440px;
      margin-right: 50px;
      padding: 24px;
    }
    .customer-feedback-info {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 44px;
      color: #22292e;
    }
  }
  #partnors {
    .wrapper {
      padding-top: 100px;
    }
  }
}

footer {
  background-color: #0e0e0e;
  position: relative;
  .rectangle {
    background: rgba(255, 255, 255, 0.1);
  }
  .first-ellipse {
    height: 189.14634704589844px;
    width: 376px;
    left: -105px;
    top: 0px;
    border-radius: 0px;
    background-color: #003152;
    filter: blur(200px);
    position: absolute;
    left: -7.29%;
    right: 81.18%;
    top: 0%;
    bottom: 80.97%;
  }
  .second-ellipse {
    height: 378.2926940917969px;
    width: 376px;
    left: -109px;
    top: 465.822265625px;
    border-radius: 0px;
    background-color: #003152;
    filter: blur(200px);
    position: absolute;
    left: -7.57%;
    right: 81.46%;
    top: 46.86%;
    bottom: 15.08%;
  }
  .third-ellipse {
    height: 378.2926940917969px;
    width: 312px;
    left: 1175px;
    top: 95.580078125px;
    border-radius: 0px;
    background-color: #003152;
    filter: blur(200px);
    position: absolute;
    left: 81.6%;
    right: -7.71%;
    top: 9.62%;
    bottom: 52.33%;
  }
  #header {
    .footer-title {
      color: white;
    }
    .select-language {
      font-family: "Suisse Intl";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }

    .header-title {
      padding-top: 60px;
      padding-bottom: 60px;
      display: flex;
      justify-content: space-between;
    }
  }
  #links {
    .wrapper-footer-link {
      display: flex;
    }
    .link-title {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #9ba5b5;
      margin-bottom: 20px;
    }
    li {
      margin-bottom: 16px;
      a {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 44px;
        color: #ffffff;
      }
    }
  }
  #address-info {
    .info-title {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #9ba5b5;
      margin-bottom: 12px;
    }
    .info-value {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }
    .info-value-social {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
      margin-left: 24px;
    }
    .rectangle {
      margin-top: 60px;
    }
  }
  #author-info {
    .author-privacy {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #6d7a84;
    }
  }
}
#project-detail-header {
  background: url("../assets/image/Rectangle 4 (2).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#detail-head {
  background: url("../assets/image/Rectangle 4 (2).png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  padding: 80px 60px;
  height: 768px;
  display: flex;
  align-items: end;
  .head-text {
    font-family: "HeadingNow-66Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
#general-info {
  .info-title {
    h2 {
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 44px;
      color: #22292e;
    }
  }
  .info-description {
    p {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #6d7a84;
    }
  }
}
#oil {
  .oil-plant-image {
    position: relative;
    .img-loc,
    .img-date {
      position: absolute;
      top: 24px;
      left: 24px;
      color: white;
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      padding: 10px 16px;
      gap: 8px;
      width: 116px;
      height: 40px;
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6px);
      border-radius: 100px;
    }
    .img-date {
      left: 151px;
      width: 127px;
    }
    img {
      width: -webkit-fill-available;
    }
    .oil-plant-text {
      position: absolute;
      bottom: 32px;
      left: 32px;
      p {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 143% */

        /* Utility/100 */

        color: #ffffff;
      }
    }
  }
}
#oil-consumer {
  .info-title {
    h2 {
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 44px;
      color: #22292e;
    }
  }
  .info-description {
    p {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #6d7a84;
    }
  }
}
#oil-consumer-info {
  .consumer-title {
    font-family: "Suisse Intl-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    color: #13171a;
  }
  .consumer-image-wrapper {
    .large-image {
      img {
        width: -webkit-fill-available;
      }
    }
    .oil-plant-image {
      position: relative;
      .img-loc,
      .img-date {
        position: absolute;
        top: 24px;
        left: 24px;
        color: white;
        font-family: "Suisse Intl-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        padding: 10px 16px;
        gap: 8px;
        width: 116px;
        height: 40px;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6px);
        border-radius: 100px;
      }
      .img-date {
        left: 151px;
        width: 127px;
      }
      img {
        width: -webkit-fill-available;
      }
      .oil-plant-text {
        position: absolute;
        bottom: 32px;
        left: 32px;
        p {
          font-family: "Suisse Intl-Regular";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #ffffff;
        }
      }
    }
  }
}
#energy {
  .info-title {
    h2 {
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 44px;
      color: #22292e;
    }
  }
  .info-description {
    p {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #6d7a84;
    }
  }
}
#connect-projects {
  img {
    width: -webkit-fill-available;
  }
  .image-wrapper {
    position: relative;
    .img-date {
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6px);
      border-radius: 100px;
      position: absolute;
      top: 24px;
      left: 24px;
      color: white;
      padding: 6px 5px;
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
    }
  }
  .card-info {
    .card-title {
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: #13171a;
    }
  }
}
#managers {
  .president-company {
    background-color: #ffffff;
  }
  .president-name {
    font-family: "Suisse Intl-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #13171a;
  }
  .position {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #6d7a84;
  }
  .detail-description {
    margin-bottom: 60px;
    p {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #9ba5b5;
    }
  }
  .more-btn {
    width: 152px;
    height: 44px;
    border: 1px solid #c59b48;
    border-radius: 100px;
    padding: 10px 20px;
    button {
      font-family: "Suisse Intl";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #c59b48;
    }
  }
  .employee-fullname {
    font-family: "Suisse Intl-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #13171a;
  }
  .employee-position {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6d7a84;
  }
  .employee-card {
    background: #ffffff;
    border-radius: 20px;
  }

  .president-detail-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    .modal-content {
      background-color: #fff;
      margin-left: 20%;
      padding: 140px 60px;
      height: 100vh;
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        top: 60px;
        right: 60px;
        &:hover,
        close {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
      }
      .president-social {
        span {
          margin-right: 12px;
        }
      }
    }
    .president-more-detail {
      .title {
        font-family: "Suisse Intl-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        color: #13171a;
      }
      .sub-title {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #c59b48;
      }
    }
    .president-description {
      p {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #6d7a84;
      }
    }
  }
}

#contact-header {
  .contact-number,
  .contact-email {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #22292e;
  }
  .support-text {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #6d7a84;
  }
}
.contact-us-title {
  .project-main-title {
    width: 524px;
    position: relative;
    &::after {
      content: url("../assets/SVG/Underline.svg");
      position: absolute;
      width: 219.07px;
      height: 14px;
      right: 0px;
      top: calc(50% - 14px / 2 - 0.03px);
    }
  }
}
#contact-form {
  margin-top: 60px;
  .find-us {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #9ba5b5;
  }
  .find-location {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #46525a;
  }
  .form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }

  .form-group {
    position: relative;
  }
  .checkbox-style {
    border: 2px solid #46525a;
    border-radius: 3px;
    width: 18px;
    height: 18px;
  }
  .private-rules {
    .privacy {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #46525a;
      .privacy-underline {
        text-decoration: underline;
      }
    }
  }
  input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #46525a;
    outline: none;
    background-color: #eee;
    &:focus {
      border-bottom: 2px solid #4caf50;
      label {
        color: red;
        top: -20px;
        font-size: 12px;
        color: #4caf50;
        display: none;
      }
    }
  }

  label {
    position: absolute;
    top: -12px;
    left: 0;
    font-weight: bold;
    transition: all 0.3s ease;
    pointer-events: none;
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #46525a;
  }

  .btn-brand {
    font-family: "Suisse Intl-Regular";
    background: #c59b48;
    border-radius: 100px;
    padding: 10px 20px;
    align-items: center;
    color: #ffffff;
    width: 152px;
  }
}
#sidebar {
  li {
    margin-bottom: 12px;
    a {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: #46525a;
    }
    .active {
      color: #c59b48;
    }
  }
  .have-question {
    .question-title {
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #c59b48;
    }
    .often-question {
      font-family: "Suisse Intl-SemiBold";
      font-style: normal;
      font-weight: 600;
      font-size: 68px;
      line-height: 72px;
      color: #13171a;
    }
  }
}
#accordion-question {
  .title {
    font-family: "Suisse Intl-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #13171a;
    margin-bottom: 20px;
  }
  .accordion {
    .contentBx {
      h4 {
        font-family: "Suisse Intl-Mediumn";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #46525a;
      }
      .content-description {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #6d7a84;
      }
      .content {
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        overflow-y: auto;
      }
      &.active {
        .content {
          height: 110px;
        }
      }
      .label {
        h4 {
          font-family: "Suisse Intl-Medium";
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 28px;
          color: #46525a;
        }
      }
      .accordion-item {
        background: #fbfbfb;
        border: 1px solid #eeeeee;
        border-radius: 24px;
        p {
          font-family: "Suisse Intl-SemiBold";
          font-style: normal;
          font-weight: 600;
          font-size: 48px;
          line-height: 52px;
          color: #c59b48;
        }
        .item-content {
          p {
            font-family: "Suisse Intl-Regular";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: #46525a;
          }
        }
      }
    }
  }
  .legacy-links {
    li {
      margin-bottom: 12px;
      a {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #46525a;
      }
      .active {
        color: #c59b48;
      }
    }
  }
  .legacy-detail-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    max-height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    .modal-content {
      background-color: #fff;
      margin-left: 20%;
      padding: 140px 60px;
      height: 100vh;
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        top: 60px;
        right: 60px;
        &:hover,
        close {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
      }
      .president-social {
        span {
          margin-right: 12px;
        }
      }
    }
    .legacy-more-detail {
      .title {
        font-family: "Suisse Intl-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        color: #13171a;
      }
      .sub-title {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #46525a;
      }
    }
    .president-description {
      p {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #6d7a84;
      }
    }
    .modal-title {
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 44px;
      color: #22292e;
    }
    .modal-description {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #6d7a84;
    }
  }
}
#gallery-title {
  padding-top: 114px;
  .project-main-title {
    font-family: "HeadingNow-66Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    text-transform: uppercase;
    color: #22292e;
    position: relative;
    &:after {
      content: url("../assets/SVG/ShortUnderline.svg");
      position: absolute;
      width: 219.07px;
      height: 14px;
      left: 0;
      top: calc(50% - 14px / 2 - 0.03px);
    }
  }
  .page-name {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #13171a;
  }
  .current-page {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9ba5b5;
  }
  .slash {
    margin-left: 12px;
    margin-right: 12px;
  }
  .project-short-info {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #46525a;
  }
}
#gallery-info {
  .info-date {
    font-family: "Suisse Intl";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9ba5b5;
  }
  .head-info {
    font-family: "Suisse Intl-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    color: #22292e;
  }
  .head-date {
    font-family: "Suisse Intl";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9ba5b5;
  }
}
.foto-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 80vh;
  overflow: auto;
  background-color: white;
  padding: 60px;
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 60px;
    right: 60px;
    &:hover,
    close {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
#foto-gallery {
  .card-item {
    overflow: hidden;
    position: relative;
    &:hover {
      img {
        transform: scale(1.2);
      }
      .zoom-icon {
        opacity: 1;
      }
    }
    img {
      object-fit: cover;
      transition: transform 0.3s;
    }
    .zoom-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity 0.3s;
    }
  }
}
#video-gallery {
  video {
    position: unset;
    height: fit-content;
    width: 100%;
  }
  .card-item {
    position: relative;
  }
  .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  .card-item {
    &:hover {
      .play-icon {
        opacity: 1;
      }
    }
  }
}
#news-title {
  padding-top: 114px;
  .project-main-title {
    font-family: "HeadingNow-66Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    text-transform: uppercase;
    color: #22292e;
  }
  .page-name {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #13171a;
  }
  .current-page {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9ba5b5;
  }
  .slash {
    margin-left: 12px;
    margin-right: 12px;
  }
  .project-short-info {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #46525a;
  }
}
#news-content {
  padding-top: 100px;
  .card-date {
    p {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #9ba5b5;
    }
  }
  .card-description {
    h5 {
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #13171a;
    }
    p {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #46525a;
    }
  }
  .pagination-number,
  .pagination-dots {
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    background: #ffffff;
    border-radius: 100px;
    margin-left: 8px;
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6d7a84;
    &.active {
      background-color: #eee1c8;
      color: #c59b48;
    }
  }

  .news-detail-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    .modal-content {
      background-color: #fff;
      margin-left: 20%;
      padding: 140px 60px;
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        top: 60px;
        right: 60px;
        &:hover,
        close {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
      }
      .president-social {
        span {
          margin-right: 12px;
        }
      }
    }
    .president-more-detail {
      .title {
        font-family: "Suisse Intl-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        color: #13171a;
      }
      .sub-title {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #46525a;
      }
    }
    .president-description {
      p {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #6d7a84;
      }
    }
    .news-title {
      h2 {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #9ba5b5;
      }
      p {
        font-family: "Suisse Intl-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        color: #22292e;
      }
    }
    .news-description {
      p {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #46525a;
      }
    }
    .news-social-adress {
      span {
        margin-right: 20px;
      }
    }
    .news-image {
      margin-top: 60px;
    }
    .oil-images {
      .image-wrapper {
        position: relative;
      }
      .location {
        position: absolute;
        top: 32px;
        left: 32px;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6px);
        border-radius: 100px;
        padding: 10px 16px;
        .location-name {
          font-family: "Suisse Intl-Medium";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #ffffff;
        }
      }
      .date {
        position: absolute;
        top: 32px;
        left: 162px;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6px);
        border-radius: 100px;
        padding: 10px 16px;
      }
      .date-time {
        font-family: "Suisse Intl-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
      }
    }
    .export-procedure {
      h5 {
        font-family: "Suisse Intl-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #46525a;
      }
    }
    .export-list {
      list-style: disc;
      li {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #6d7a84;
      }
    }
    .notes {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #6d7a84;
      .email-addres {
        color: #218aeb;
      }
    }
    .footer-image {
      .wrapper-image {
        position: relative;
        .location {
          position: absolute;
          top: 27px;
          left: 25px;
          background: rgba(0, 0, 0, 0.2);
          border: 1px solid rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(6px);
          border-radius: 100px;
          padding: 10px 16px;
          .location-name {
            font-family: "Suisse Intl-Medium";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
          }
        }
        .date {
          position: absolute;
          top: 27px;
          left: 169px;
          background: rgba(0, 0, 0, 0.2);
          border: 1px solid rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(6px);
          border-radius: 100px;
          padding: 10px 16px;
        }
        .date-time {
          font-family: "Suisse Intl-Medium";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #ffffff;
        }
        .image-text {
          position: absolute;
          bottom: 32px;
          left: 32px;
          font-family: "Suisse Intl-Regular";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #ffffff;
        }
      }
    }
  }
}
#who-we-header {
  padding-top: 114px;
  .who-we-title {
    font-family: "HeadingNow-66Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    text-transform: uppercase;
    position: relative;
    width: 374px;
    &::after {
      content: url("../assets/SVG/Underline.svg");
      position: absolute;
      width: 219.07px;
      height: 14px;
      right: 0px;
      top: calc(50% - 14px / 2 - 0.03px);
    }
  }
  .title-description {
    width: 872px;
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #46525a;
  }
  .image-wrapper {
    margin-top: 44px;
  }
}
#who-us {
  h3 {
    font-family: "Suisse Intl-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #c59b48;
  }
  .description {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #6d7a84;
  }
}
#values {
  .values-title {
    font-family: "Suisse Intl-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #c59b48;
  }
  .wrapper {
    padding: 40px;
  }
  .values-header {
    padding-bottom: 40px;
  }
  .head-info {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #6d7a84;
  }
  .parallax-container {
    height: 100vh;
    overflow: hidden;
    position: sticky;

    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 15vh;
    }
    &:nth-child(3) {
      top: 20vh;
    }
    &:nth-child(4) {
      top: 25vh;
    }
  }
  .parallax-section {
    height: 100%;
    position: relative;
    z-index: 1;
    text-align: center;

    color: #fff;
    transition: transform 0.3s ease-in-out;
    border-top: 1px solid #eeedf2;
  }
  .label-title {
    font-family: "Suisse Intl-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #cdd4e0;
  }
  .description-title {
    font-family: "HeadingNow-66Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: #22292e;
  }
  .description-text {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #6d7a84;
  }
  .description-number {
    font-family: "HeadingNow-56Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 320px;
    line-height: 320px;
    text-align: right;
    letter-spacing: 0.02em;
    color: #c59b48;
  }
  .description-wrapper {
    margin-top: 60px;
  }
  .current-section {
    z-index: 2;
  }
  .spacer {
    height: 50vh;
  }
}
#key-principles {
  h3 {
    font-family: "Suisse Intl-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #c59b48;
  }
  .head-principles {
    h5 {
      font-family: "Suisse Intl";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      color: #798298;
    }
    p {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      margin-top: 68px;
    }
  }
  .section-item {
    h5 {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 44px;
      color: #222222;
    }
    p {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #798298;
    }
    .section-number {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 68px;
      line-height: 72px;
      color: #c59b48;
    }
  }
}
#history-slider {
  .swiper-wrapper {
    padding: 40px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    &::after {
      content: "";
    }
  }
  .swiper-button-next {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .swiper-button-prev {
    position: absolute;
    top: 40px;
    width: 100%;
    left: 678px;
  }
  .history-title {
    p {
      font-family: "HeadingNow-65Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      text-transform: uppercase;
      color: #22292e;
    }
    margin-bottom: 138px;
  }
  // .history-head {
  //   font-family: "Suisse Intl-Medium";
  //   font-style: normal;
  //   font-weight: 500;
  //   font-size: 14px;
  //   line-height: 20px;
  //   letter-spacing: 0.1em;
  //   text-transform: uppercase;
  //   color: #c59b48;
  // }
  .year-description {
    font-family: "Suisse Intl";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #6d7a84;
    width: 534px;
  }
  .date-title {
    font-family: "Suisse Intl";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #46525a;
  }
}
#career-header {
  padding-top: 114px;
  .project-main-title {
    font-family: "HeadingNow-66Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    text-transform: uppercase;
    color: #22292e;
  }
  .page-name {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #13171a;
  }
  .current-page {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9ba5b5;
  }
  .slash {
    margin-left: 12px;
    margin-right: 12px;
  }
  .project-short-info {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #46525a;
  }
}
#career-info {
  padding-top: 60px;
  padding-bottom: 80px;
  .main-about-us {
    font-family: "Suisse Intl-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 68px;
    line-height: 72px;
    .changeable-text {
      color: #474646;
    }
  }
}
#career-applies {
  button {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #6d7a84;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 100px;
    margin-right: 12px;
  }
  .career-tab-active {
    background: #c59b48;
    color: white;
  }
  .tech-title {
    font-family: "Suisse Intl-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #22292e;
  }
  .tech-subtitle {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #6d7a84;
  }
  .tech-employee {
    font-family: "Suisse Intl-Medium";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #22292e;
  }
  .tech-position {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #6d7a84;
  }
  .tech-date {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9ba5b5;
  }
  .tech-apply-btn {
    button {
      border: 1px solid #c59b48;
      border-radius: 100px;
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #c59b48;
      display: flex;
      align-items: center;
    }
  }
  .tech-support {
    padding-top: 60px;
  }
}
#benefit-links {
  .navigate-to-link {
    .link-card {
      border-radius: 20px;
      justify-content: space-between;
    }
    .link-title {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #13171a;
    }
    .url {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #6d7a84;
    }
  }
}
#main-social-projects {
  padding-top: 114px;
  .project-main-title {
    font-family: "HeadingNow-66Bold";
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    text-transform: uppercase;
    position: relative;
    &::after {
      content: url("../assets/SVG/Underline.svg");
      position: absolute;
      width: 219.07px;
      top: calc(50% - 14px / 2 - 0.03px);
      left: 0;
    }
  }
  .page-name {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #13171a;
  }
  .current-page {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9ba5b5;
  }
  .slash {
    margin-left: 12px;
    margin-right: 12px;
  }
  .project-short-info {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #46525a;
  }
}
#social-project-content {
  padding-top: 80px;
  .card-date {
    p {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #9ba5b5;
    }
  }
  .card-description {
    h5 {
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #13171a;
    }
    p {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #46525a;
    }
  }
  .pagination-number,
  .pagination-dots {
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    background: #ffffff;
    border-radius: 100px;
    margin-left: 8px;
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #6d7a84;
    &.active {
      background-color: #eee1c8;
      color: #c59b48;
    }
  }

  .news-detail-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    .social-project-title {
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
      line-height: 44px;
      color: #22292e;
    }
    .modal-content {
      background-color: #fff;
      margin-left: 20%;
      padding: 140px 60px;
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
        position: absolute;
        top: 60px;
        right: 60px;
        &:hover,
        close {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
      }
      .president-social {
        span {
          margin-right: 12px;
        }
      }
      .image-subtitle {
        font-family: "Suisse Intl-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #22292e;
        & + p {
          font-family: "Suisse Intl";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          /* or 156% */

          /* Utility/400 */

          color: #6d7a84;
        }
      }
    }
    .president-more-detail {
      .title {
        font-family: "Suisse Intl-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        color: #13171a;
      }
      .sub-title {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 36px;
        color: #46525a;
      }
    }
    .president-description {
      p {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #6d7a84;
      }
    }
    .news-title {
      h2 {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #9ba5b5;
      }
      p {
        font-family: "Suisse Intl-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;
        color: #22292e;
      }
    }
    .news-description {
      p {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #46525a;
      }
    }
    .news-social-adress {
      span {
        margin-right: 20px;
      }
    }
    .news-image {
      margin-top: 60px;
    }
    .oil-images {
      .image-wrapper {
        position: relative;
      }
      .location {
        position: absolute;
        top: 32px;
        left: 32px;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6px);
        border-radius: 100px;
        padding: 10px 16px;
        .location-name {
          font-family: "Suisse Intl-Medium";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #ffffff;
        }
      }
      .date {
        position: absolute;
        top: 32px;
        left: 162px;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6px);
        border-radius: 100px;
        padding: 10px 16px;
      }
      .date-time {
        font-family: "Suisse Intl-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
      }
    }
    .export-procedure {
      h5 {
        font-family: "Suisse Intl-Medium";
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        color: #46525a;
      }
    }
    .export-list {
      list-style: disc;
      li {
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #6d7a84;
      }
    }
    .notes {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: #6d7a84;
      .email-addres {
        color: #218aeb;
      }
    }
    .footer-image {
      .wrapper-image {
        position: relative;
        .location {
          position: absolute;
          top: 27px;
          left: 25px;
          background: rgba(0, 0, 0, 0.2);
          border: 1px solid rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(6px);
          border-radius: 100px;
          padding: 10px 16px;
          .location-name {
            font-family: "Suisse Intl-Medium";
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #ffffff;
          }
        }
        .date {
          position: absolute;
          top: 27px;
          left: 169px;
          background: rgba(0, 0, 0, 0.2);
          border: 1px solid rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(6px);
          border-radius: 100px;
          padding: 10px 16px;
        }
        .date-time {
          font-family: "Suisse Intl-Medium";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #ffffff;
        }
        .image-text {
          position: absolute;
          bottom: 32px;
          left: 32px;
          font-family: "Suisse Intl-Regular";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #ffffff;
        }
      }
    }
  }
}
#foto-gallery-wrapper {
  .card-date {
    font-family: "Suisse Intl-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #9ba5b5;
  }
  .card-description {
    h5 {
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #13171a;
    }
    p {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #46525a;
    }
  }
  .img-container {
    position: relative;
    .img-date {
      position: absolute;
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(6px);
      border-radius: 100px;
      bottom: 24px;
      right: 24px;
      color: white;
      padding: 6px 16px;
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
    }
  }
}
.modal-block {
  display: block;
}

@media screen and (max-width: 567px) {
  nav {
    .hamburger {
      display: block;
    }
  }
  footer {
    overflow: hidden;
    #links {
      .link-title {
        font-size: 16px;
        line-height: 24px;
      }
      li {
        a {
          font-size: 24px;
          line-height: 36px;
        }
      }
      .wrapper-footer-link {
        display: block;
        padding-bottom: 48px;
      }
    }
    #header {
      .header-title {
        display: block;
      }
    }
    #address-info {
      .info-title {
        margin-bottom: 8px;
      }
      .address-info-wrapper {
        display: block;
        .left-side {
          display: block;
        }
      }
      .social-links {
        justify-content: unset;
      }
      .info-value-social {
        margin-right: 24px;
        margin-left: 0;
      }
      .mobile-info {
        margin-bottom: 60px;
      }
    }
    .first-ellipse {
      top: 39px;
      left: 107px;
      right: -34.17%;
      bottom: 87.56%;
    }
    .second-ellipse {
      top: 439px;
      left: -172px;
      right: 43.33%;
      bottom: 55.44%;
    }
    .third-ellipse {
      top: 1461px;
      left: 154px;
      right: -47.22%;
      bottom: -0.29%;
    }
  }
  #managers {
    .president-company {
      background-color: #ffffff;
    }
    .president-name {
      font-size: 20px;
      line-height: 28px;
    }
    .position {
      font-size: 14px;
      line-height: 20px;
    }
    .detail-description {
      display: none;
    }
    .more-btn {
      display: none;
    }
    .employee-fullname {
      font-family: "Suisse Intl-Medium";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #13171a;
    }
    .employee-position {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #6d7a84;
    }
    .employee-card {
      background: #ffffff;
      border-radius: 20px;
    }

    .president-detail-modal {
      display: none;
      position: fixed;
      z-index: 9999;
      left: 0;
      top: 0;
      width: 100%;
      max-height: 100vh;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.5);
      background-color: white;

      .modal-content {
        .wrapper-modal-content {
          display: block;
        }
        background-color: #fff;
        margin: 0;
        padding: 103px 16px;
        height: 100vh;
        .close {
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
          cursor: pointer;
          position: absolute;
          top: 60px;
          right: 40px;
          &:hover,
          close {
            color: black;
            text-decoration: none;
            cursor: pointer;
          }
        }
        .president-social {
          span {
            margin-right: 12px;
          }
        }
      }
      .president-more-detail {
        .title {
          font-size: 24px;
          line-height: 36px;
        }
        .sub-title {
          font-size: 20px;
          line-height: 28px;
          color: #46525a;
        }
      }
      .president-description {
        p {
          font-size: 16px;
          line-height: 24px;
          color: #6d7a84;
        }
      }
    }
  }
  #project-detail-header {
    background: url("../assets/image/Rectangle 143 (1).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  #detail-head {
    background: url("../assets/image/Rectangle 143 (1).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    padding: 60px 16px;
    height: 768px;
    display: flex;
    align-items: end;
    .head-text {
      font-size: 48px;
      line-height: 56px;
    }
  }
  #oil {
    .oil-plant-text {
      display: none;
    }
    .img-respo {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #9ba5b5;
    }
    .img-subtitle {
      font-family: "Suisse Intl-Regular";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #9ba5b5;
    }
  }
  #oil-consumer-info {
    .consumer-title {
      font-size: 32px;
      line-height: 44px;
    }
    .consumer-image-wrapper {
      .text-in-mobile {
        display: block;
        font-family: "Suisse Intl-Regular";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #9ba5b5;
      }
    }
  }
  #connect-projects {
    .card-info {
      .card-title {
        font-size: 16px;
        line-height: 24px;
      }
      .card-info-subtitle-style {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
  #gallery-title {
    .project-main-title {
      font-size: 40px;
      line-height: 40px;
      color: #13171a;
      &::after {
        content: url("../assets/SVG/Frame 633.svg");
        left: 0px;
        top: calc(50% - (-2.66px) + 0.34px);
      }
    }
  }
  #gallery-info {
    .head-date {
      font-family: "Suisse Intl";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #9ba5b5;
    }
    .head-info {
      font-size: 24px;
      line-height: 36px;
    }
  }
}
