@font-face {
    font-family: 'HeadingNow-38HeavyItalic';
    src: url('HeadingNow-38HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-71Thin';
    src: url('HeadingNow-71Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-34Regular';
    src: url('HeadingNow-34Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-05Medium';
    src: url('HeadingNow-05Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-55MediumItalic';
    src: url('HeadingNow-55MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-48Heavy';
    src: url('HeadingNow-48Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-06BoldItalic';
    src: url('HeadingNow-06BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-44RegularItalic';
    src: url('HeadingNow-44RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-35Medium';
    src: url('HeadingNow-35Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-98Heavy';
    src: url('HeadingNow-98Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-03Book';
    src: url('HeadingNow-03Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-18HeavyItalic';
    src: url('HeadingNow-18HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNowItalicW05';
    src: url('HeadingNowItalicW05-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-91ThinItalic';
    src: url('HeadingNow-91ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-87Extrabold';
    src: url('HeadingNow-87Extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-84Regular';
    src: url('HeadingNow-84Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-14Regular';
    src: url('HeadingNow-14Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-71ThinItalic';
    src: url('HeadingNow-71ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNowW05';
    src: url('HeadingNowW05-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-61ThinItalic';
    src: url('HeadingNow-61ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-51Thin';
    src: url('HeadingNow-51Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-25MediumItalic';
    src: url('HeadingNow-25MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-54RegularItalic';
    src: url('HeadingNow-54RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-81ThinItalic';
    src: url('HeadingNow-81ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-65Medium';
    src: url('HeadingNow-65Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-24RegularItalic';
    src: url('HeadingNow-24RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-84RegularItalic';
    src: url('HeadingNow-84RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-83BookItalic';
    src: url('HeadingNow-83BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-62Light';
    src: url('HeadingNow-62Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-23Book';
    src: url('HeadingNow-23Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

