@font-face {
    font-family: 'HeadingNow-08HeavyItalic';
    src: url('HeadingNow-08HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-93Book';
    src: url('HeadingNow-93Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-72Light';
    src: url('HeadingNow-72Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-67Extrabold';
    src: url('HeadingNow-67Extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-25Medium';
    src: url('HeadingNow-25Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-37ExtraboldItalic';
    src: url('HeadingNow-37ExtraboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-36BoldItalic';
    src: url('HeadingNow-36BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-86Bold';
    src: url('HeadingNow-86Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-21ThinItalic';
    src: url('HeadingNow-21ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-31ThinItalic';
    src: url('HeadingNow-31ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-98HeavyItalic';
    src: url('HeadingNow-98HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-73BookItalic';
    src: url('HeadingNow-73BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-42Light';
    src: url('HeadingNow-42Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-51ThinItalic';
    src: url('HeadingNow-51ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-04RegularItalic';
    src: url('HeadingNow-04RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-02Light';
    src: url('HeadingNow-02Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-81Thin';
    src: url('HeadingNow-81Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-26BoldItalic';
    src: url('HeadingNow-26BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-76BoldItalic';
    src: url('HeadingNow-76BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-66Bold';
    src: url('HeadingNow-66Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-14RegularItalic';
    src: url('HeadingNow-14RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-16Bold';
    src: url('HeadingNow-16Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-78Heavy';
    src: url('HeadingNow-78Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-52Light';
    src: url('HeadingNow-52Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-96BoldItalic';
    src: url('HeadingNow-96BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-32LightItalic';
    src: url('HeadingNow-32LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-94RegularItalic';
    src: url('HeadingNow-94RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-88Heavy';
    src: url('HeadingNow-88Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-18Heavy';
    src: url('HeadingNow-18Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-77ExtraboldItalic';
    src: url('HeadingNow-77ExtraboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

