@font-face {
    font-family: 'HeadingNow-17Extrabold';
    src: url('HeadingNow-17Extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-26Bold';
    src: url('HeadingNow-26Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-07Extrabold';
    src: url('HeadingNow-07Extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-58HeavyItalic';
    src: url('HeadingNow-58HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-72LightItalic';
    src: url('HeadingNow-72LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-47ExtraboldItalic';
    src: url('HeadingNow-47ExtraboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-95Medium';
    src: url('HeadingNow-95Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-88HeavyItalic';
    src: url('HeadingNow-88HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-43Book';
    src: url('HeadingNow-43Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-74Regular';
    src: url('HeadingNow-74Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-83Book';
    src: url('HeadingNow-83Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-76Bold';
    src: url('HeadingNow-76Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-42LightItalic';
    src: url('HeadingNow-42LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-65MediumItalic';
    src: url('HeadingNow-65MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-64Regular';
    src: url('HeadingNow-64Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-73Book';
    src: url('HeadingNow-73Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-56BoldItalic';
    src: url('HeadingNow-56BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-08Heavy';
    src: url('HeadingNow-08Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-24Regular';
    src: url('HeadingNow-24Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-06Bold';
    src: url('HeadingNow-06Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-13BookItalic';
    src: url('HeadingNow-13BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-55Medium';
    src: url('HeadingNow-55Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-87ExtraboldItalic';
    src: url('HeadingNow-87ExtraboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-95MediumItalic';
    src: url('HeadingNow-95MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-13Book';
    src: url('HeadingNow-13Book.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-27ExtraboldItalic';
    src: url('HeadingNow-27ExtraboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-92Light';
    src: url('HeadingNow-92Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-61Thin';
    src: url('HeadingNow-61Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-45MediumItalic';
    src: url('HeadingNow-45MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-53BookItalic';
    src: url('HeadingNow-53BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

