@font-face {
    font-family: 'HeadingNow-28Heavy';
    src: url('HeadingNow-28Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-43BookItalic';
    src: url('HeadingNow-43BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-34RegularItalic';
    src: url('HeadingNow-34RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-23BookItalic';
    src: url('HeadingNow-23BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-75Medium';
    src: url('HeadingNow-75Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-48HeavyItalic';
    src: url('HeadingNow-48HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-57ExtraboldItalic';
    src: url('HeadingNow-57ExtraboldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-44Regular';
    src: url('HeadingNow-44Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-01Thin';
    src: url('HeadingNow-01Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-31Thin';
    src: url('HeadingNow-31Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-78HeavyItalic';
    src: url('HeadingNow-78HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-15Medium';
    src: url('HeadingNow-15Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-37Extrabold';
    src: url('HeadingNow-37Extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-11ThinItalic';
    src: url('HeadingNow-11ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-47Extrabold';
    src: url('HeadingNow-47Extrabold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-82LightItalic';
    src: url('HeadingNow-82LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-41Thin';
    src: url('HeadingNow-41Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-86BoldItalic';
    src: url('HeadingNow-86BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-02LightItalic';
    src: url('HeadingNow-02LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-56Bold';
    src: url('HeadingNow-56Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-45Medium';
    src: url('HeadingNow-45Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-92LightItalic';
    src: url('HeadingNow-92LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-85Medium';
    src: url('HeadingNow-85Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-15MediumItalic';
    src: url('HeadingNow-15MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-82Light';
    src: url('HeadingNow-82Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-54Regular';
    src: url('HeadingNow-54Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-62LightItalic';
    src: url('HeadingNow-62LightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-03BookItalic';
    src: url('HeadingNow-03BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-91Thin';
    src: url('HeadingNow-91Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HeadingNow-93BookItalic';
    src: url('HeadingNow-93BookItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

